<app-navbar></app-navbar>
<div class="m-5">
  <h1><small>Datos del libro</small></h1>
  <hr />
  <div class="d-grid gap-2 d-md-block">
    <button (click)="goBookList()" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>Regresar
    </button>
  </div>
  <div class="modal-dialog login animated fadeInLeft">
    <div class="main-section">
      <div class="border-0 modal-content">
        <form [formGroup]="formGroup" (ngSubmit)="updateBook()">
          <app-input
            *ngIf="ISBNInputModel"
            [inputModel]="ISBNInputModel"
            class="row"
            ngDefaultControl
          ></app-input>
          <app-input
            *ngIf="nameInputModel"
            [inputModel]="nameInputModel"
            class="row"
            ngDefaultControl
          >
          </app-input>
          <app-input
            *ngIf="typeInputModel"
            [inputModel]="typeInputModel"
            class="row"
            ngDefaultControl
          ></app-input>
          <app-input
            *ngIf="descriptionInputModel"
            [inputModel]="descriptionInputModel"
            class="row"
            ngDefaultControl
          ></app-input>
          <app-input
            *ngIf="publicationDateInputModel"
            [inputModel]="publicationDateInputModel"
            class="row"
            ngDefaultControl
          ></app-input>
          <app-input
            *ngIf="editorsInputModel"
            [inputModel]="editorsInputModel"
            class="row"
            ngDefaultControl
          ></app-input>
          <app-input
            *ngIf="autorsInputModel"
            [inputModel]="autorsInputModel"
            class="row"
            ngDefaultControl
          ></app-input>
          <app-input
            *ngIf="photoInputModel"
            [inputModel]="photoInputModel"
            class="row"
            ngDefaultControl
          ></app-input>
          <app-button
            text="{{ 'button.update_book' | translate }}"
            [form]="formGroup"
            type="submit"
            class="row">
          </app-button>
        </form>
      </div>
    </div>
  </div>
</div>