<app-navbar></app-navbar>
<div>
  <div class="m-5">
    <h1>Listado de Libros</h1>
    <hr />
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" *ngFor="let books of booksList; let i = index">
          <div class="card h-100">
            <img [src]="books?.photo" class="card-img-top" [alt]="books?.name" />
            <div class="card-body">
              <h5 class="card-title">{{ books?.name }}</h5>
              <p class="card-text">{{ books?.type }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">{{ books?.description }}</small>
            </div>

            <!-- <button
            (showEmmiter)="showBookDetail($event)"
              type="button"
              class="btn btn-outline-primary block"
            >
              Ver más
            </button>  -->
            <app-book-row [book]="books" (showEmmiter)="showBookDetail($event)" (deleteEmmiter)="deleteBook($event)">
            </app-book-row>
          </div>
        </div>
      </div>

      <!-- <div class="table-responsive">
      <table class="table mt-3 fadeIn faster">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ISBN</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha de publicación</th>
            <th scope="col">Editores</th>
            <th scope="col">Autores</th>
            <th scope="col">Herramientas</th>
          </tr>
        </thead>
        <tbody text-align="center">
          <tr *ngFor="let book of booksList; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ book?.ISBN }}</td>
            <td>{{ book?.name }}</td>
            <td>{{ book?.type }}</td>
            <td>{{ book?.description }}</td>
            <td>{{ book?.publicationDate }}</td>
            <td>{{ book?.editors }}</td>
            <td>{{ book?.autors }}</td>
            <td>
              <app-book-row [book]="book" (showEmmiter)="showBookDetail($event)" (deleteEmmiter)="deleteBook($event)">
              </app-book-row>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </div>
</div>
